name: Build and Publish new release

on:
  release:
    types: [published]

env:
  # Common versions
  GOLANGCI_VERSION: 'v1.64.6'
  KUBERNETES_VERSION: '1.31.x'

permissions:
  contents: read

jobs:
  publish-artifacts:
    uses: ./.github/workflows/publish.yml
    permissions:
      id-token: write
      packages: write
      contents: read
    strategy:
      matrix:
        include:
        - dockerfile: "Dockerfile"
          build-args: "CGO_ENABLED=0"
          build-arch: "amd64 arm64"
          build-platform: "linux/amd64,linux/arm64"
          tag-suffix: "" # distroless
    with:
      dockerfile: ${{ matrix.dockerfile }}
      tag-suffix: ${{ matrix.tag-suffix }}
      image-name: ghcr.io/${{ github.repository }}
      image-tag: ${{ github.event.release.tag_name }}
      build-platform: ${{ matrix.build-platform }}
      build-args: ${{ matrix.build-args }}
      build-arch: ${{ matrix.build-arch }}
      ref: ${{ github.ref }}
      username: ${{ github.actor }}
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  sign:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest
    needs: publish-artifacts
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.ref }}
      - name: Build bundle
        run: make bundle
        env:
          IMG: ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }}

      - name: Sign image
        uses: ./.github/actions/sign
        with:
          image-name: ghcr.io/${{ github.repository }}
          image-tag: ${{ github.event.release.tag_name }}
          username: ${{ github.actor }}
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: |
            provenance.${{ github.event.release.tag_name }}.intoto.jsonl
            sbom.${{ github.event.release.tag_name }}.spdx.json
            bundle.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"